@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');

/* 공통 스타일 */
* { font-family: 'Noto Sans KR', sans-serif; box-sizing: border-box; color: #212121; outline: none; }
html { font-size: 13px; } /* 1rem - 13px */
body { margin: 0; font-family: -apple-system,BlinkMacSystemFont,helvetica,Apple SD Gothic Neo,sans-serif;  }

ul, ol { list-style: none; padding: 0; margin: 0; }
dl, dt, dd { padding: 0; margin: 0; }
a { text-decoration: none; }
img { border: 0; }

body {min-width: 320px; width: 100%; height: 100%;}

/* 상단 헤더 영역 S */
header { display: flex; align-items: center; justify-content: space-between; height: 66px; border-bottom: 1px solid #e6e6e6; padding: 0 15px; }
header .logo img { height: 34px; }
header > section i { font-size: 1.85rem; }
header > section.left a { margin-right: 5px; }
header > section.right a { margin-left: 5px; }

/* 상단 헤더 영역 E */

/* 상단 메뉴 영역 */
nav {display: flex; height: 44px;}
nav > a {flex-grow: 1; width: 0; text-align: center; color: #494949; line-height: 44px;}

/* 메인 배너 */
main .main_bg img {width: 100%; display: block;}

/* 메인 가운데 메뉴 S */
main .mid_menus {display: flex; flex-wrap: wrap; border: 10px solid #ededed; border-right: 0; border-left: 0;}
main .mid_menus a {width: calc(100% / 3); text-align: center; height: 50px; line-height: 50px; font-weight: 500; font-size: 1.08rem; border-top: 1px solid #ededed; border-left: 1px solid #ededed;}

main .mid_menus a:nth-of-type(3n+1) {border-left: 0;}
main .mid_menus a:nth-of-type(1),
main .mid_menus a:nth-of-type(2),
main .mid_menus a:nth-of-type(3) {border-top: 0;}

/* 메인 가운데 메뉴 E */

/* 서브 배너 S */
main .sub_bg {display: flex; flex-wrap: wrap; margin-bottom: 20px;}
main .mid_menus a {width: calc(100% / 3); text-align: center; height: 50px; line-height: 50px; font-weight: 500; font-size: 1.08rem; border-top: 1px solid #ededed; border-left: 1px solid #ededed;}
main .sub_bg a:nth-of-type(1) {width: 100%;}
main .sub_bg a:nth-of-type(2),
main .sub_bg a:nth-of-type(3) {width: 50%;}
main .sub_bg img {width: 100%; display: block;}
/* 서브 배너 E */

/* 상품 목록 S */

.best_products_list h3 {padding: 20px; line-height: 1; text-align: center; font-size: 1.538rem;}
.best_products_list_content {display: flex; flex-wrap: wrap; margin: 0 15px;}

.best_products_item {width: calc(50% - 8px); margin-bottom: 30px; margin-left: 16px;}
.best_products_list_content li:nth-of-type(2n+1){margin-left: 0;}

/* 상품 목록 E */

.img_box{
    position: relative;
}
.img{
    font-size: 0; line-height: 0;
}
.best_products_img {
    width: 100%; padding-bottom: 10px; vertical-align: top;
}
.img {
    width: 100%; padding-bottom: 10px; vertical-align: top;
}
.best_products_content {
    vertical-align: top;
}
.price{
    font-weight: bold; padding: 0; word-break: break-all; color: #3e3d3c; font-size: 15px;
}
.c_price{
    color: #000000; font-weight: normal; font-size: 15px;
}
.price_no{
    font-family: 'Montserrat', sans-serif !important; font-size: 18px; font-weight: 800; letter-spacing: -1px;
}
.add_currency{
    color: #717171; font-size: 12px; font-weight: normal; text-align: right;
}
.best_products_info_list li{
    padding: 0; word-break: break-all; color: #3e3d3c; font-size: 15px;
}
.best_products_review{
    margin: 10px 0px 2px;
}
.best_products_review img{
    height: 11px;
}
.star_review {
    font-size: 12px; color: #a7a7a7; margin-left: 6px;
}
.product_img{
    font-size: 0; line-height: 0;
}    
.pdt{
    width: 100%; border-radius: 10px;
}
.best_products_bottom{
    display: block; width: 100%; padding: 8px 0px; text-align: center; background: #ffffff; font-size: 15px; border: 1px solid #b1b1b1; color: #666666; font-weight: bold; cursor: pointer;
}
/* 서브 배너 */
.sub_bg_2{
    padding: 10px 0px;
    font-size: 0;
    margin-bottom: 10px;
}
.sub_bg_2 img{
    width: 100%; font-size: 0;
}
.rc_pds h3 {
    text-align: center; font-size: 20px; color: #212121; padding: 20px; line-height: 1; margin: 0; 
}
.pds{
    display: flex; flex-wrap: wrap; margin: 0 15px;
}
.pds_imgs{
    margin-left: 0;
}
.rc_pds li.best_products_item:nth-of-type(2n+1){margin-left: 0;}
footer{
    background-color: #f9f9f9;
    padding: 25px 0 80px;
    margin-top: 25px;
    display: block;
}
.foot_logo {
    margin-bottom: 12px;
}
.foot_logo img{
    width: 79px; display: block; margin: 0 auto;
}
.call {
    border: 2px solid #2a2a2a; border-radius: 20px; text-align: center; display: block; height: 35px; line-height: 35px; font-size: 20px; color: #2a2a2a; font-weight: 800; width: 190px; margin: 0 auto 7px;
}
.call img {
    height: 16px; vertical-align: middle; position: relative; top: -1px;
}
.business{
    margin: 3px 0 8px;
}
.tit{
    text-align: center;
    cursor: pointer;
    margin-bottom: 8px;
}
.info{
    background-color: #eeeeee; padding: 13px; display: none;
}